.page-footer {
	height: 100%;
	font-size: 1.4rem;

	&--upper {
		background: $color-secondary;
		height: 80%;
		padding: 3.6rem 0;
	}

	&--lower {
		background: $color-tertiary;
		height: 20%;
		padding: 2rem 0;
	}

	.container {
		display: flex;
		height: 100%;
	}

	.col-1-3 {
		display: flex;
		padding: 20px;
		justify-content: center;
	}

	&__title {
		text-align: center;
		font-size: 1.8rem;
		color: $color-white;
		text-transform: uppercase;
		margin-bottom: 1.3rem;
	}

	&__box {		

		&-item {
			text-align: center;
			padding: 0 25px;
		}
	}
}

.page-footer__icons {

	&-list {
		list-style: none;
		text-align: center;

		li {
			width: 40px;
			height: 40px;
			display: inline-flex;
			border-radius: 50%;
			box-shadow: inset 0 0 0 2px;
			justify-content: center;
			align-items: center;
			margin: 0 5px 5px 0;

			&:last-child {
				margin: 0;
			}
		}

		.fa {
			font-size: 1.6rem;
		}
	}
}

.page-footer__freelancer {
	
	.page-footer {

		&__box {

			&-item {

				span {
					color: $color-primary;
				}
			}
		}
	}
}

.page-footer__copyright {
	font-size: 1rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
}