.page-footer {
	height: 100%;
	font-size: 1.4rem;

	&--upper {
		background: $color-secondary;
		height: 80%;
		padding: 3.6rem 0;
	}

	&--lower {
		background: $color-tertiary;
		height: 20%;
		padding: 2rem 0;
	}

	.container {
		display: flex;
		height: 100%;
	}

	.col-1-3 {
		display: flex;
		padding: 20px;
		justify-content: center;
	}

	&__title {
		text-align: center;
		font-size: 1.8rem;
		color: $color-white;
		text-transform: uppercase;
		margin-bottom: 1.3rem;
	}

	&__box {		

		&-item {
			text-align: center;
			padding: 0 25px;
		}
	}
}

.page-footer__icons {

	&-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

		li {
			width: 40px;
			height: 40px;
			display: flex;
			border-radius: 50%;
			box-shadow: inset 0 0 0 2px;
			justify-content: center;
			align-items: center;
			margin: 0 5px 5px 0;
			cursor: pointer;

			&:last-child {
				margin: 0;
			}

			&:hover {

				.fa {
					color: $color-primary;
				}
			}
		}

		a {

			&:visited {
				color: $color-white;
			}
		}

		.fa {
			font-size: 1.6rem;
		}
	}
}

.page-footer__freelancer {
	
	.page-footer {

		&__box {

			&-item {

				span {
					color: $color-primary;
				}
			}
		}
	}
}

.page-footer__copyright {
	font-size: 10px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

@media (max-width: 1140px) {}
@media (max-width: 960px) {
}
@media (max-width: 720px) {}
@media (max-width: 540px) {
	.page-footer {
		font-size: 2rem;

		.container {
			display: flex;
			flex-direction: column;
		}

		.col-1-3 {
			padding: 0 20px;
			width: 100%;
			margin-bottom: 20px;

			&:last-child {
				margin: 0;
			}
		}

		&__loc {
			width: 100%;
		}

		&__title {
			font-size: 2.2rem;
		}

		&__box {
			width: 70%;
			margin: 0 auto;
		}
	}
}