.page-footer {
	height: 300px;
	font-size: 1.4rem;

	&--upper {
		background: $color-secondary;
		height: 80%;
	}

	&--lower {
		background: $color-tertiary;
		height: 20%;
	}

	.container {
		display: flex;
		height: 100%;
	}

	.col-1-3 {
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: center;
	}

	&__title {
		text-align: center;
		font-size: 1.8rem;
		color: $color-white;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__box {		

		&-item {
			text-align: center;
		}
	}
}

.page-footer__icons {

	&-list {
		list-style: none;
		text-align: center;

		li {
			width: 50px;
			height: 50px;
			display: inline-flex;
			border-radius: 50%;
			box-shadow: inset 0 0 0 2px;
			justify-content: center;
			align-items: center;
			margin-right: 5px;

			&:last-child {
				margin: 0;
			}
		}

		.fa {
			font-size: 1.8rem;
		}
	}
}

.page-footer__freelancer {
	
	.page-footer {

		&__box {

			&-item {

				span {
					color: $color-primary;
				}
			}
		}
	}
}

.page-footer__copyright {
	margin: 0 auto;
	display: flex;
	align-items: center;
}