.banner {
	height: 100%;
	width: 100%;

	&__logo {
		text-align: center;
		margin: 8rem 0 2rem;
	}
}

@media (max-width: 1140px) {}
@media (max-width: 960px) {}
@media (max-width: 720px) {
	.banner {

		&__logo {

			img {
				width: 45%;
			}
		}
	}
}
@media (max-width: 540px) {
	.banner {
		padding: 0 20px;
	}
}