.btn {
	display: inline-block;
	padding: 1.75rem 0;
	width: 24rem;
	color: $color-white;
	background: $color-primary;
	border-radius: 3px;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: inset 0 0 0 2px;
	cursor: pointer;

	&--about {
		text-align: center;
		font-size: 1.4rem;
		width: 18rem;
		padding: 1.5rem 0;
		text-transform: none;

		.fa {
			margin-right: 10px;
		}

		&:hover {
			background: transparent;
			box-shadow: inset 0 0 0 2px;
			color: #000;
		}
	}

	&--form {
		width: 80px;
		font-size: 1.5rem;
		font-weight: 400;
		outline: hidden;
		box-shadow: none;
		border: none;
		text-transform: none;
		transition: .2s all;

		&:hover {
			box-shadow: 0 1px 10px 3px rgba(#000, .2);
		}		
	}
}

@media (max-width: 1140px) {}
@media (max-width: 960px) {}
@media (max-width: 720px) {}
@media (max-width: 540px) {
    .btn {

        &--form {
            width: 160px;
            font-size: 3rem;
        }

		&--about {
			font-size: 2rem;
			width: 22rem;
		}
    }    
}