.form {
 
    label {
        display: block;
        color: #aaa;
        font-size: 2rem;
        font-weight: 400;
    }

    input,
    textarea {
        font-size: 1.4rem;
    }

    &__row {
        margin-bottom: 18px;

        &--last {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }        
    }
}

.form__control {
    padding: 20px 15px;
    max-width: 560px;
    width: 100%;
    transition: 0.4s border-color, 0.5s box-shadow;

    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;   

    &:focus {
        outline:none;
        border-color: $color-tertiary;
        text-shadow: 0 0 0 1px #000;
    }
}

textarea.form__control {
    min-height:150px;
    resize:none;
    overflow: hidden;
}  

@media (max-width:700px) {
    .form__control {
        max-width: 100%;       

        &:focus {
            outline: none;
            border-color: $color-tertiary;
            box-shadow: 0 0 0 1px #000;
        }  
    }
}

@media (max-width:600px) {

    .form {

        &__row {

            &-last {
                flex-direction: column-reverse;
            }        
        }
    }
}

@media (max-width:515px) {

    .form {

        &__row {

            &--last {
                justify-content: center;
            }        
        }
    }
}