.form {
    width: 60%;
    margin: 0 auto;
 
    label {
        display: block;
        color: #6C727BFF;
        font-size: 2rem;
        font-weight: 400;
    }

    input,
    textarea {
        font-size: 2.5rem;
    }

    &__row {
        margin-bottom: 18px;

        &--last {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }        
    }
}

.form__control {
    padding: 6px 15px;
    max-width: 560px;
    width: 100%;
    transition: 0.4s border-color, 0.5s box-shadow;

    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;   

    &:focus {
        outline:none;
        border-color: $color-tertiary;
        text-shadow: 0 0 0 1px #000;
    }
}

textarea.form__control {
    min-height: 140px;
    resize:none;
    overflow: hidden;
} 

@media (max-width: 1140px) {}
@media (max-width: 960px) {}
@media (max-width: 720px) {}
@media (max-width: 540px) {
    .form {

        &__row {

            &--last {
                flex-direction: column-reverse;
            }        
        }

        input,
        textarea {
            font-size: 3.8rem;
        }
    }

    textarea.form__control {
        min-height: 100px;
    }
}