.section-title {
	line-height: 1;
	color: $color-tertiary;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	margin-bottom: 7.8rem;

	&:after {
		content: "\f005"; //star
		font-family: 'FontAwesome';
		font-size: 3rem;
		color: $color-tertiary;
		line-height: 1;
		position: absolute;
		left: 50%;
		bottom: -1.5rem;
		transform: translate(-50%, 100%);
	}

	& > div {
		height: 100%;
		width: 100%;

		&:before {
			content: "";
			border-top: 0.4rem solid $color-tertiary;
			width: 8rem;
			position: absolute;
			bottom: -2.8rem;
			left: 50%;
			transform: translate(-125%, 100%);
		}

		&:after {
			content: "";
			border-top: 0.4rem solid $color-tertiary;
			width: 8rem;
			position: absolute;
			bottom: -2.8rem;
			right: 50%;
			transform: translate(125%, 100%);			
		}	
	}

	&--banner,
	&--about {
		color: $color-white;

		&:after {
			color: $color-white;
		}

		& > div {

			&:before {
				border-color: $color-white;
			}

			&:after {
				border-color: $color-white;
			}	
		}
	}

	&--banner {
		margin-bottom: 6rem;

		h1 {
			font-size: 6.8rem;
			line-height: 6.8rem;
			font-weight: 900;
			margin: 0;
			padding: 0;
		}
	}

	&--portfolio {
		margin-bottom: calc(7.8rem - 18px);
	}

	h2 {
		font-size: 3.8rem;
	}
}

.paragraph {
	font-size: 1.6rem;

	&--banner {
		font-size: 2.6rem;
		text-align: center;
	}

	&--about {
		margin: 0 auto 2rem;
	    min-height: 18rem;
	    width: 60%;
	    column-count: 2;
	    column-gap: 16px;
	    column-width: 248px;
	    text-align: left;
	}
}

@media (max-width: 1140px) {}
@media (max-width: 960px) {

	.section-title {

		&--portfolio {
			margin-bottom: calc(7.8rem - 9px);
		}		
	}

	.paragraph {

		&--banner {
			font-size: 2rem;
		}
	}
}
@media (max-width: 720px) {

	.section-title {

		h1 {
			font-size: 5rem;
			line-height: 5rem;
		}		
	}
}
@media (max-width: 540px) {

	.paragraph {

		&--about {
		    text-align: justify;
		}
	}
}